*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    /* background: tan; */
    background-image: url('/images/download.jpg');
    background-repeat:no-repeat ;
    background-size: cover;
    
  
  

    
}

.partition{
    display: flex;
    width: 90%;
    height: 80%;
    /* margin: 60px; */
    margin: auto;
    border: 2px solid black;
    
   
}

.partition .main{
    width: 50%;
    background: transparent;
    color: rgb(255, 242, 242);
    margin: auto;
  text-align: center;
}


.partition .main1{
    width: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin-bottom: 17px;
}

.partition .main #class{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
    margin: auto;
   
   
  
}
a{
    text-decoration: none;
    color: #000;
    color: rgb(255, 225, 225);
   
}

    

#btn{
    padding: 9px 2.5rem;
    background-color: transparent;
    border: 2px solid rgb(252, 252, 252);
    border-radius: 5px;
    font-size: 8px;
}
.partition .main1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
   
} 
 #h2{
text-align: center;
margin-top: 5px;
}



img{
    height:90px;
    width:200px
}
.partition .main1 #class1 #img{
    
}
.partition .main1 #class1 .input{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
   
}

#text1{
    padding: 6px;
}
#button{
    padding: 6px;
    background-color: black;
    color:aliceblue;
}
#button:hover{
    padding: 6px;
    background-color: rgb(248, 248, 248);
    color:rgb(0, 0, 0);
}
#buttom2{
    margin-top: 25px;
    background-color: transparent;
 border: transparent;
    padding: 7px;
    color: #000;
}
 #button3{
    float: right;
    margin-left: 29rem;
    margin-top: 20px;
  
}
#btn1{
    border-radius: 3px;
    padding: 1px;

}
#btn2{
    border-radius: 3px;
    padding: 1px;

}



#btn1:hover{
    background-color: rgb(0, 0, 10);
    color: rgb(255, 255, 255);
}
#href{
    color: rgb(12, 5, 5);
}

#btn2:hover{
    background-color: rgb(69, 133, 185);
    color: rgb(224, 212, 212);


}

@media screen and (max-width:1266px) {
    #button3 {
        margin-left: 21rem;
        
       
    }
}


@media screen and(max-width:1023px) {
    /* .partition .main1{
        margin-bottom: 1px;

    } */
    .partition .main1 #class1 .input {
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
}
@media screen and (max-width:973px) {
    #button3 {
        margin-left: 14rem;
        
       
    }
}
@media screen and (max-width:737px) {
    #button3 {
        margin-left: 10rem;
        
       
    }
}
@media screen and (max-width:580px) {
    #button3 {
        margin-left: 8rem;
        
       
    }
}


@media screen and (max-width:506px) {
    #button3 {
        margin-left: 19rem;
        
       
    }
}

@media screen and (max-width:510px) {
    .container{
        min-height: 100vh;
    }
    .partition{
        display: flex;
        flex-direction: column-reverse;
        width: 85%;
        min-height: 105vh;
    }
    .partition .main1{
        width: 100%;
        padding-top: -8%;
    }
}
@media screen and (max-width:471px) {
    #button3 {
        margin-left: 18rem;
    }
}
@media screen and (max-width:467px) {
    #button3 {
        margin-left: 17rem;
    }
}
@media screen and (max-width:441px) {
    .container{
        height: 110vh;
    }
}
@media screen and (max-width:435px) {
    #button3 {
        margin-left: 14rem;
    }
}
@media screen and (max-width:377px) {
    #button3 {
        margin-left: 12rem;
    }
}
@media screen and (max-width:335px) {
    #button3 {
        margin-left: 11rem;
    }
}









    


